.heading {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4em;
    background-color: $header-color;
    padding-bottom: 10px;
    @include mediaQ(medium) {
        position: static;
    }
    & p.title {
        font-family: $font-family;
        font-weight: 100;
        font-size: 3em;
        color: $white-color;
        text-align: left;
        padding-left: 8px;
        margin-top: 0;
        margin-bottom: -5px;
        display: inherit;
    }
    & span.day {
        font-family: $font-family;
        font-size: 1em;
        font-weight: 100;
        color: $white-color;
        padding-left: 0.5em;
    }
}
