/* 
Media Query Manager

Sizes, Breakpoints:
0      - 320px   [normal style applies]
321px  - 736px   small
737px  - 1024px  medium
1024px -         large

*/
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  min-width: 320px;
  width: 100%;
  height: 44px;
  background-color: #FFF;
  justify-content: center; }
  @media only screen and (min-width: 737px) {
    .footer {
      display: flex;
      justify-content: center;
      position: inherit;
      line-height: 24px;
      height: 30px;
      width: 100%; }
      .footer #cancelBtn {
        display: none; } }
  .footer button {
    line-height: 18px;
    font-size: 18px;
    border-radius: 0px; }
  .footer #menu-icon {
    display: table;
    font-size: 2.8em;
    margin: 0px auto; }
    @media only screen and (min-width: 737px) {
      .footer #menu-icon {
        display: none; } }
  .footer ul {
    display: none; }
    .footer ul.opened {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      background-color: #FFF;
      margin: 0;
      border: 1px solid #EFEFEF;
      border-radius: 3px;
      padding: 0;
      z-index: 1;
      list-style-type: none; }
    @media only screen and (min-width: 737px) {
      .footer ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 4px 0;
        max-width: 100%; } }
  .footer #remAllbtn {
    color: #FF0000; }
  .footer .md-button.footer-button {
    width: 100%;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 300;
    min-height: 16px; }
    @media only screen and (min-width: 737px) {
      .footer .md-button.footer-button {
        font-size: 14px;
        font-weight: 300;
        margin-top: 2px;
        padding: 0 0 2px 0;
        width: 126px;
        line-height: 18px; } }
  .footer button.filteredBy {
    background-color: #C5CAE8; }
    @media only screen and (min-width: 737px) {
      .footer button.filteredBy {
        padding-bottom: 2px;
        border-bottom: 4px solid #3f51b5;
        background-color: #FFF; } }

form {
  display: flex;
  position: fixed;
  top: 2.9em;
  background-color: #FFF;
  font-size: 1.6em;
  width: 100%;
  min-width: 320px;
  z-index: 1; }
  @media only screen and (min-width: 737px) {
    form {
      padding-left: 0.5em;
      display: flex;
      width: 100%;
      margin-bottom: -25px;
      padding-bottom: 10px;
      font-size: 20px;
      position: inherit; } }
  form md-input-container .md-errors-spacer {
    min-height: 0; }
  form md-input-container {
    margin-top: 30px; }
    form md-input-container #addDiv {
      margin-top: 15px;
      padding-bottom: 20px; }
      @media only screen and (min-width: 737px) {
        form md-input-container #addDiv {
          margin: 0 0.2em 0 0; } }
      form md-input-container #addDiv #add-button {
        font-size: 1em;
        margin-right: 10px; }
        @media only screen and (min-width: 737px) {
          form md-input-container #addDiv #add-button {
            margin: 0; } }

.heading {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4em;
  background-color: #3f51b5;
  padding-bottom: 10px; }
  @media only screen and (min-width: 737px) {
    .heading {
      position: static; } }
  .heading p.title {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 3em;
    color: #FFF;
    text-align: left;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: -5px;
    display: inherit; }
  .heading span.day {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #FFF;
    padding-left: 0.5em; }

md-list {
  min-width: 320px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 9em;
  padding-bottom: 32px;
  overflow-y: scroll;
  background-color: #FFF; }
  @media only screen and (min-width: 737px) {
    md-list {
      height: 57vh;
      width: 100%;
      margin-top: 10px;
      padding: 0;
      position: inherit; } }
  md-list md-list-item {
    min-height: 20px;
    border-bottom: 1px solid #EFEFEF; }
    md-list md-list-item:hover md-icon {
      visibility: initial; }
    md-list md-list-item.completed p.name {
      color: #808080;
      text-decoration: line-through; }
    md-list md-list-item p.name {
      font-weight: 300;
      font-size: 1.4em; }
      @media only screen and (min-width: 737px) {
        md-list md-list-item p.name {
          font-weight: 300;
          font-size: 1.2em; } }
    md-list md-list-item p.date {
      color: #808080;
      font-size: 0.7em; }
    md-list md-list-item md-checkbox {
      float: left; }
    md-list md-list-item md-icon {
      cursor: pointer; }
      @media only screen and (min-width: 737px) {
        md-list md-list-item md-icon {
          visibility: hidden; } }
  md-list div#empty {
    display: flex;
    width: 100%;
    position: fixed;
    top: 60vh;
    padding: 0;
    z-index: 0; }
    @media only screen and (min-width: 737px) {
      md-list div#empty {
        height: 100%;
        position: inherit; } }
    md-list div#empty span.emptyMsg {
      margin: auto;
      font-weight: 300; }

@media only screen and (min-width: 737px) {
  md-icon {
    visibility: hidden; }
  md-list-item:hover md-icon {
    visibility: initial; } }

* {
  padding: 0;
  margin: 0; }

.myapp {
  font-family: "Roboto", sans-serif; }
  @media only screen and (min-width: 321px) {
    .myapp {
      width: 100%;
      margin: 0; } }
  @media only screen and (min-width: 737px) {
    .myapp {
      width: 100%;
      min-width: 504px;
      margin: 1em auto;
      margin-bottom: 0; } }
  @media only screen and (min-width: 1024px) {
    .myapp {
      min-width: 1024px;
      max-width: 80%; } }

@media only screen and (min-width: 737px) {
  .body {
    background-color: #FFF;
    box-shadow: 4px 4px 20px 0px #808080;
    margin: auto; } }

.info {
  display: none; }
  @media only screen and (min-width: 737px) {
    .info {
      display: block;
      text-align: center;
      font-size: 12px;
      color: #a9a9a9;
      margin-top: 3em; }
      .info .p-info {
        font-weight: 300; }
      .info a:visited, .info a:link {
        text-decoration: none;
        color: #a9a9a9; }
      .info a:hover, .info a:active {
        text-decoration: underline;
        color: #a9a9a9; } }
