/* 
Media Query Manager

Sizes, Breakpoints:
0      - 320px   [normal style applies]
321px  - 736px   small
737px  - 1024px  medium
1024px -         large

*/

@mixin mediaQ($breakpoint) {
    @if $breakpoint == small {
        @media only screen and (min-width: 321px) { @content };
    }
    @if $breakpoint == medium {
        @media only screen and (min-width: 737px) { @content };
    }
    @if $breakpoint == large {
        @media only screen and (min-width: 1024px) { @content };
    }
}