$header-color: #3f51b5;

$white-color: #FFF;
$grey-color: #808080;
$darkgray-color: #a9a9a9;

$divider-color: #EFEFEF;
$small-filtered-by-bg-color: #C5CAE8;
$large-filtered-by-bg-color: $white-color;
$remove-red-color: #FF0000;

$font-family: 'Roboto', sans-serif;