@import "mixins";
@import "variables";

@import "components/footer/footer.component";
@import "components/form/form.component";
@import "components/header/header.component";
@import "components/todo-list/todo-list.component";


* {
    padding: 0;
    margin: 0;
}
.myapp {
    font-family: $font-family;
    @include mediaQ(small) {
        width: 100%;
        margin: 0;
    }
    @include mediaQ(medium) {
        width: 100%;
        min-width: 504px;
        margin: 1em auto;
        margin-bottom: 0;
    }
    @include mediaQ(large) {
        min-width: 1024px;
        max-width: 80%;
    }
}
@include mediaQ(medium) {
    .body {
        background-color: $white-color;
        box-shadow: 4px 4px 20px 0px $grey-color;
        margin: auto;
    }
}
.info {
    display: none;
    @include mediaQ(medium) {
        display: block;
        text-align: center;
        font-size: 12px;
        color: $darkgray-color;
        margin-top: 3em;
        & .p-info {
            font-weight: 300;
        }
        & a:visited, a:link {
            text-decoration: none;
            color: $darkgray-color;
        }
        & a:hover, a:active {
            text-decoration: underline;
            color: $darkgray-color;
        }
    }
}