form {
    display: flex;
    position: fixed;
    top: 2.9em;
    background-color: $white-color;
    font-size: 1.6em;
    width: 100%;
    min-width: 320px;
    z-index: 1;
    @include mediaQ(medium) {
        padding-left: 0.5em;
        display: flex;
        width: 100%;
        margin-bottom: -25px;
        padding-bottom: 10px;
        font-size: 20px;
        position: inherit;
    }
    md-input-container .md-errors-spacer {
        min-height: 0;
    }
    md-input-container {
        margin-top: 30px;
        #addDiv {
            margin-top: 15px;
            padding-bottom: 20px;
            @include mediaQ(medium) {
                margin: 0 0.2em 0 0;
            }
            #add-button {
                font-size: 1em;
                margin-right: 10px;
                @include mediaQ(medium) {
                    margin: 0;
                }
            }
        }
    }
}