<form name="myForm" layout="row" ng-controller="formCtrl" ng-submit="submit()">
    <md-input-container flex>
        <input
            ng-submit="submit()"
            #input
            mdInput
            type="text"
            name="toDo"
            id="toDo"
            class="inputField md-input"
            placeholder="Enter todo"
            aria-label="todo"
            style="font-weight:100;"
            ng-model="todoName">
    </md-input-container>
    <div id="addDiv">
        <md-button
            id="add-button"
            class="md-fab"
            ng-disabled="isInvalid()"
            type="submit">Add
        </md-button>
    </div>
</form>