.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    min-width: 320px;
    width: 100%;
    height: 44px;
    background-color: $white-color;
    justify-content: center;
    @include mediaQ(medium) {
        display: flex;
        justify-content: center;
        position: inherit;
        line-height: 24px;
        height: 30px;
        width: 100%;

        #cancelBtn {
            display: none;
        }
    }
    & button {
        line-height: 18px;
        font-size: 18px;
        border-radius: 0px;
    }
    #menu-icon {
        display: table;
        font-size: 2.8em;
        margin: 0px auto;
        @include mediaQ(medium) {
            display: none;
        }
    }
    ul {
        display: none;
        &.opened {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: center;
            background-color: $white-color;
            margin: 0;
            border: 1px solid $divider-color;
            border-radius: 3px;
            padding: 0;
            z-index: 1;
            list-style-type: none;
        }
        @include mediaQ(medium) {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 4px 0;
            max-width: 100%;
        }
    }
    #remAllbtn {
        color: $remove-red-color;
    }
    .md-button.footer-button {
        width: 100%;
        padding: 5px;
        font-size: 1.3em;
        font-weight: 300;
        min-height: 16px;
        @include mediaQ(medium) {
            font-size: 14px;
            font-weight: 300;
            margin-top: 2px;
            padding: 0 0 2px 0;
            width: 126px;
            line-height: 18px;
        }
    }
    button.filteredBy {
        background-color: $small-filtered-by-bg-color;
        @include mediaQ(medium) {
            padding-bottom: 2px;
            border-bottom: 4px solid $header-color;
            background-color: $large-filtered-by-bg-color;
        }
    }
}
