<div class="footer" ng-controller="footerCtrl">
    <md-icon
        id="menu-icon"
        ng-click="isOpen=!isOpen"
        class="mdi mdi-menu"
        aria-label="Menu">
    </md-icon>
    <ul id="footer-buttons" ng-class="{'opened' : isOpen}" layout="row">
        <li>
        <button
            class="footer-button"
            ng-click="onListAll()"
            ng-class="{'filteredBy': todoView === 'all'}"
            md-button>All ({{ info[0] }})
        </button>
        </li>
        <li>
        <button
            class="footer-button"
            ng-click="onListCompleted()"
            ng-class="{'filteredBy': todoView === 'completed'}"
            ng-disabled="(info[1] === 0 || !info[1])"
            md-button>Completed ({{ info[1] }})
        </button>
        </li>
        <li>
        <button
            class="footer-button"
            ng-click="onListRemaining()"
            ng-class="{'filteredBy': todoView === 'remaining'}"
            ng-disabled="(info[2] === 0 || !info[2])"
            md-button>Remaining ({{ info[2] }})
        </button>
        </li>
        <li>
        <button
            id="remAllbtn"
            class="footer-button"
            md-button
            ng-disabled="!info[0]"
            ng-click="onRemoveAll()">Remove all
        </button>
        </li>
        <li>
        <button
            id="cancelBtn"
            class="footer-button"
            ng-click="isOpen=false"
            md-button>Cancel
        </button>
        </li>
    </ul>
</div>
      