md-list {
    min-width: 320px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 9em;
    padding-bottom: 32px;
    overflow-y: scroll;
    background-color: $white-color;
    @include mediaQ(medium) {
        height: 57vh;
        width: 100%;
        margin-top: 10px;
        padding: 0;
        position: inherit;
    }

    md-list-item {
        min-height: 20px;
        border-bottom: 1px solid $divider-color;
        &:hover md-icon {
            visibility: initial;
        }
        &.completed p.name {
            color: $grey-color;
            text-decoration: line-through;
        }
        & p.name {
            font-weight: 300;
            font-size: 1.4em;
            @include mediaQ(medium) {
                font-weight: 300;
                font-size: 1.2em;
            }
        }
        & p.date {
            color: $grey-color;
            font-size: 0.7em;
        }
        md-checkbox {
            float: left;
        }
        md-icon {
            cursor: pointer;
            @include mediaQ(medium) {
                visibility: hidden;
            }
        }
    }
    div#empty {
        display: flex;
        width: 100%;
        position: fixed;
        top: 60vh;
        padding: 0;
        z-index: 0;
        @include mediaQ(medium) {
            height: 100%;
            position: inherit;
        }
        span.emptyMsg {
            margin: auto;
            font-weight: 300;
        }
    }
}

@include mediaQ(medium) {
    md-icon {
    visibility: hidden;
    }
    md-list-item:hover md-icon {
    visibility: initial;
    }
}