<md-list ng-controller="todoListCtrl" flex>
    <md-list-item 
        layout-padding 
        ng-repeat="todo in todos"
        ng-class="{'completed': todo.checked}"
        class="md-long-text md-no-proxy">
        <md-checkbox
            md-list-icon
            color="primary"
            ng-click="onCheck(todo)"
            ng-model="todo.checked">
        </md-checkbox>
        <div>
            <p class="name" title="{{todo.name}}" md-line>{{ todo.name }}</p>
            <p class="date" style="font-weight:300;" md-line>{{ todo.date | date: 'HH:mm dd. MMM. yy' }}</p>
        </div>
        <md-icon class="mdi mdi-close md-secondary" aria-label="delete" ng-click="onDelete(todo)"></md-icon>
    </md-list-item>

    <div id="empty" ng-if="todos.length === 0">
        <span class="emptyMsg">Add something to get started.</span>
    </div>
</md-list>